name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6.0.1"

        - name: "Set up Python"
          uses: actions/setup-python@v6.1.0
          with:
            python-version: "3.13"
            cache: "pip"

        - name: Install system libraries for lxml
          run: |
            sudo apt-get update
            sudo apt-get install -y libxml2-dev libxslt-dev

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.txt

        - name: "Lint"
          run: python3 -m ruff check .

        - name: "Format"
          run: python3 -m ruff format . --check
